// VARIABLES
$bg-color: #faf9f9;
$text-color: #273469;
$text-light-blue: #20a4f3;
$text-crimson: #d7263d;
$raisin-black: #221d23;
$color-snow: #fbf5f3;

// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
a {
  text-decoration: none;
  color: $text-light-blue;
  &:hover {
    color: $text-color;
  }
}
li {
  list-style: none;
}
// ELEMENTS
body {
  background-color: $raisin-black;
  color: $text-color;
}

// NAVBAR
.nav-wrapper {
  width: 100%;
  height: 60px;
  position: fixed;
  border-bottom: solid 1px $text-light-blue;
  z-index: 2;
  background-color: lighten($color: $text-light-blue, $amount: 40);
  color: $text-color;
  box-shadow: 0 5px 1px transparentize($color: $text-light-blue, $amount: 0.7);
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  li {
    width: 20%;
    padding: 5px;
    height: 85%;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      box-shadow: 2px 2px 1px
        transparentize($color: $text-light-blue, $amount: 0.7);
      &:hover {
        background: repeating-linear-gradient(
          45deg,
          transparentize($color: $text-light-blue, $amount: 0.98),
          transparentize($color: $text-light-blue, $amount: 0.88) 3px,
          transparentize($color: $text-light-blue, $amount: 0.98) 6px
        );
      }
    }
    .active {
      background: transparentize($text-light-blue, 0.85);
      border-bottom: solid 1px transparentize($text-light-blue, 0.8);
      border-top: solid 1px transparentize($text-light-blue, 0.8);
      h3 {
        font-weight: 700;
      }
    }
  }
  h3 {
    margin: 10px;
    padding: 0 5px;
    font-size: 20px;
    color: $text-color;
  }
  .cart-with-items {
    width: max-content;
    h3 {
      font-size: 16px;
    }
    span {
      color: $text-crimson;
    }
  }
  .divider {
    height: 60%;
    width: 1px;
    background: transparentize($text-color, 0.8);
  }
}
@media screen and (min-width: 768px) {
  .nav-wrapper {
    li {
      width: 10%;
    }
  }
}

// SOCIAL
aside.social {
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 1;
}
.social-wrapper {
  position: relative;
  right: -60px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  transition: all 0.2s ease-in;
  &.show {
    right: 0;
    .social-toggle {
      position: absolute;
      width: 60%;
      left: 40%;
      top: -40px;
      .title {
        display: none;
      }
    }
    .social-items {
      box-shadow: -1px 1px 2px transparentize($text-crimson, 0.5);
    }
  }
}
.social-toggle {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: solid 1px $text-light-blue;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 40%;
  padding: 5px 0;
  cursor: pointer;
  box-shadow: -1px 1px 2px transparentize($text-light-blue, 0.5);
  background-color: lighten($color: $text-light-blue, $amount: 40);
  .title {
    font-size: 18px;
    align-self: center;
    margin-top: 5px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
  }
  .arrow {
    align-self: center;
    fill: $text-light-blue;
    stroke-width: 2px;
    stroke: $text-light-blue;
    transition: all 0.1s ease;
  }
  &:hover {
    box-shadow: -2px 2px 2px transparentize($text-light-blue, 0.5);

    .arrow {
      transform: scale(1.1);
    }
  }
}
.social-items {
  width: 60%;
  text-align: center;
  border: solid 1px $text-crimson;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: lighten($color: $text-crimson, $amount: 49);
  .social-item {
    margin: 4px 0;
    transition: all 0.1s ease;
    svg {
      fill: $text-color;
    }
    &:hover {
      transform: scale(1.1);
      svg {
        fill: $text-crimson;
      }
    }
  }
}

// CONTENT
.content {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
}

// HOME
.home {
  min-height: 100%;
  .title-wrapper {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 1px $text-crimson;
    .tv-icon {
      position: absolute;
      font-size: 340px;
      top: -10px;
      color: lighten($color: $raisin-black, $amount: 3);
      pointer-events: none;
    }
    .screen {
      height: 160px;
      width: 240px;
      position: absolute;
      top: 100px;
      background: repeating-linear-gradient(
        45deg,
        transparentize($color: $text-light-blue, $amount: 0.95),
        transparentize($color: $text-light-blue, $amount: 0.9) 3px,
        transparentize($color: $text-light-blue, $amount: 0.95) 6px
      );
      box-shadow: 0px 100px 50px
        transparentize($color: $text-light-blue, $amount: 0.8);
      &:hover {
        background: repeating-linear-gradient(
          45deg,
          transparentize($color: $text-crimson, $amount: 0.95),
          transparentize($color: $text-crimson, $amount: 0.9) 3px,
          transparentize($color: $text-crimson, $amount: 0.95) 6px
        );
        box-shadow: 0px 100px 50px
          transparentize($color: $text-crimson, $amount: 0.8);
      }
    }
    .screen-red {
      background: repeating-linear-gradient(
        45deg,
        transparentize($color: $text-crimson, $amount: 0.95),
        transparentize($color: $text-crimson, $amount: 0.9) 3px,
        transparentize($color: $text-crimson, $amount: 0.95) 6px
      );
      box-shadow: 0px 100px 50px
        transparentize($color: $text-crimson, $amount: 0.8);
    }
    .title-bottom {
      position: relative;
      top: -40px;
    }

    .title {
      position: relative;
      font-family: "Pattaya", sans-serif;
      font-size: 50px;
      color: $text-light-blue;
    }
    .title-1 {
      font-size: 80px;
    }

    .title-3 {
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      color: $text-crimson;
      font-size: 36px;
    }
  }
  .description {
    margin: 20px auto 0 auto;
    width: 72%;
    text-align: center;
    font-size: 18px;
    & > p {
      color: $text-light-blue;
    }

    :last-child {
      margin-bottom: 0;
      padding-bottom: 1rem;
    }
  }
}
@media screen and (min-width: 576px) {
  .home {
    .description {
      margin: 80px auto 0 auto;
    }
  }
}

// SHOP
.form-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .search-form {
    height: 60px;
    min-width: 240px;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparentize($color: $text-light-blue, $amount: 0.8);
    border-radius: 30px;
    border: solid 1px transparentize($color: $text-light-blue, $amount: 0.5);
  }
  .search-input {
    height: 36px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: none;
    background-color: lighten($color: $text-light-blue, $amount: 25);
    padding: 5px 15px;
    &:focus-visible {
      outline: none;
    }
  }
  .search-btn {
    height: 36px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    color: $text-light-blue;
    background-color: darken($color: $text-color, $amount: 10);
    font-size: 24px;
    display: flex;
    align-items: center;
  }
}

// SHOW LIST
.shows-wrapper {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.no-shows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-crimson;
  font-size: 50px;
  text-align: center;
  padding: 10%;
}

// CART
.cart-wrapper {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.cart-summary {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
  background: radial-gradient(
    farthest-corner at -800px -200px,
    transparentize($text-light-blue, 0.05),
    lighten($text-light-blue, 30)
  );
  color: $text-color;
  border: solid 1px transparentize($text-light-blue, 0.8);
  border-radius: 3px;
  box-shadow: 1px 3px 2px transparentize($text-light-blue, 0.7);
  & > div {
    border-top: solid 1px transparentize($color: $text-light-blue, $amount: 0.5);
    padding: 5px;
  }
  .title-wrapper {
    border: none;
    text-align: center;
  }
  .items-wrapper {
    & > div {
      display: flex;
      justify-content: space-between;
      & > span:last-child {
        font-weight: 700;
      }
    }
  }
  .amount-wrapper,
  .total-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    & > span:last-child {
      color: $text-crimson;
    }
  }
  .actions-wrapper {
    display: flex;
    justify-content: space-evenly;
    button {
      background-color: $text-color;
      color: $text-light-blue;
      border: solid 1px darken($color: $text-color, $amount: 10);
      box-shadow: 2px 2px 2px $text-color;
      max-width: 40%;
      font-size: 14px;
      padding: 3px;
      &:hover {
        background-color: lighten($text-color, 5);
      }
    }
  }
}
.cart-items-wrapper {
  border-top: solid 1px transparentize($color: $text-light-blue, $amount: 0.8);
  margin-top: 20px;
  width: 100%;
  .title {
    color: $text-light-blue;
    margin: 10px 15%;
  }
  .cart-items {
    display: flex;
    flex-wrap: wrap;
  }
}
.cart-empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-light-blue;
  font-size: 50px;
  padding: 10%;
  text-align: center;
}

// SINGLE SHOW
.single-show {
  margin-top: 16px;
  margin-bottom: 10px;
  background: radial-gradient(
    farthest-corner at 300px -200px,
    transparentize($text-light-blue, 0.2),
    lighten($text-light-blue, 20)
  );
  box-shadow: 1px 3px 0px transparentize($color: $text-light-blue, $amount: 0.5);
  color: $text-color;
  border: solid 1px $text-color;
  border-radius: 10px;
  border-top-left-radius: 30px;
  &:hover {
    box-shadow: 1px 3px 0px
      transparentize($color: $text-light-blue, $amount: 0.2);
  }
  .img-wrapper {
    margin: 6px 10px;
    border-top-left-radius: 30px;
    overflow: hidden;
    border: solid 1px $text-color;
    width: max-content;
    box-shadow: 1px 2px 3px $text-color;
  }
  .default-img {
    width: 210px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-light-blue;
    background-color: $text-color;
    h1 {
      font-size: 80px;
    }
  }
  .info-wrapper {
    .title {
      font-weight: 700;
      padding: 5px;
      margin: 0;
      color: darken($color: $text-light-blue, $amount: 35);
    }
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    & > span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .rating {
      height: 30px;
      width: 80px;
      flex-direction: row;
      justify-self: center;
      align-self: center;
      border-radius: 15px;
      background-color: transparentize($color: $text-color, $amount: 0.05);
      color: gold;
      .star {
        margin-right: 5px;
        color: gold;
      }
    }
    .genres {
      border-top: solid 1px $text-light-blue;
    }
    .premiered {
      border-top: solid 1px $text-light-blue;
    }
  }
  .more-content {
    font-size: 15px;
    padding: 0 10px;
    max-height: 0px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    p {
      border-top: solid 1px
        transparentize($color: $text-light-blue, $amount: 0.1);
    }
    &.show {
      transition: max-height 0.7s ease-in;
      max-height: 500px;
    }
  }
  .actions-wrapper {
    border-top: solid 1px transparentize($color: $text-light-blue, $amount: 0.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    .more {
      height: 36px;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      background-color: transparentize($color: $text-light-blue, $amount: 0.3);
      span {
        margin-right: 3px;
      }
      .arrow {
        font-size: 20px;
        margin-bottom: 2px;
      }
      &:hover {
        background-color: transparentize(
          $color: $text-light-blue,
          $amount: 0.15
        );
        .arrow {
          transform: scale(1.1);
        }
      }
    }
    .add-to-cart {
      .add-to-cart-btn {
        height: 36px;
        color: lighten($color: $text-light-blue, $amount: 20);
        background-color: $text-color;
        display: flex;
        align-items: center;
        font-weight: 500;
        &:hover {
          background-color: darken($color: $text-color, $amount: 7);
        }
      }
      .in-cart {
        background-color: darken($color: $text-color, $amount: 6);
        font-size: 14px;
        color: lighten($color: $text-crimson, $amount: 10);
        &:hover {
          background-color: darken($color: $text-color, $amount: 2);
        }
      }
    }
  }
}

// LOADING
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-light-blue;
  font-size: 50px;
  padding: 10%;
  text-align: center;
  .loading-icon {
    animation: loading 1s linear infinite;
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// ERRORS
.fetch-error,
.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-crimson;
  font-size: 50px;
  text-align: center;
  padding: 10%;
}

// INFO
.info {
  width: 100%;
  height: 100%;
  font-size: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-light-blue;
  .wrapper {
    position: relative;
  }
  .trigger {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    bottom: 2rem;
    z-index: 3;
    cursor: pointer;
  }
  .left {
    position: absolute;
    font-size: 50px;
    top: 195px;
    left: 75px;
  }
  .right {
    position: absolute;
    font-size: 50px;
    top: 195px;
    right: 70px;
  }
}
