// VARIABLES
$bg-color: #faf9f9;
// $bg-active-nav: #d7bba8;
$text-color: #273469;
$text-light-blue: #20a4f3;
$text-crimson: #d7263d;

// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: "Quicksand", sans-serif;
}
a {
  text-decoration: none;
  color: $text-light-blue;
  &:hover {
    color: $text-color;
  }
}
li {
  list-style: none;
}
// ELEMENTS
body {
  background: $bg-color;
}

// NAVBAR
.nav-wrapper {
  width: 100%;
  height: 60px;
  position: fixed;
  border-bottom: solid 1px $text-light-blue;
  z-index: 2;
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  li {
    width: 20%;
    padding: 5px;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
    .active {
      background: transparentize($text-light-blue, 0.95);
      border-bottom: solid 1px transparentize($text-light-blue, 0.8);
      border-top: solid 1px transparentize($text-light-blue, 0.8);
      h3 {
        font-weight: 700;
      }
    }
  }
  h3 {
    margin: 10px;
    padding: 0 5px;
    font-size: 20px;
  }
  .divider {
    height: 60%;
    width: 1px;
    background: transparentize($text-light-blue, 0.8);
  }
}
@media screen and (min-width: 576px) {
  .nav-wrapper {
    li {
      width: 10%;
    }
  }
}

// SOCIAL
aside.social {
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 1;
}
.social-wrapper {
  position: relative;
  right: -60px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  transition: all 0.2s ease-in;
  &.show {
    right: 0;
    .social-toggle {
      position: absolute;
      width: 60%;
      left: 40%;
      top: -40px;
      .title {
        display: none;
      }
    }
  }
}
.social-toggle {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: solid 1px $text-light-blue;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 40%;
  padding: 5px 0;
  cursor: pointer;
  box-shadow: -1px 1px 2px transparentize($text-light-blue, 0.5);
  background-color: lighten($color: $text-light-blue, $amount: 40);
  .title {
    font-size: 18px;
    align-self: center;
    margin-top: 5px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
  }
  .arrow {
    align-self: center;
    fill: $text-light-blue;
    stroke-width: 2px;
    stroke: $text-light-blue;
    transition: all 0.1s ease;
  }
  &:hover {
    box-shadow: -2px 2px 2px transparentize($text-light-blue, 0.5);

    .arrow {
      transform: scale(1.1);
    }
  }
}
.social-items {
  width: 60%;
  text-align: center;
  border: solid 1px $text-crimson;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: -1px 1px 2px transparentize($text-crimson, 0.5);
  background-color: lighten($color: $text-crimson, $amount: 49);
  .social-item {
    margin: 4px 0;

    transition: all 0.1s ease;

    &:hover {
      transform: scale(1.1);
      svg {
        fill: $text-crimson;
      }
    }
  }
}

// CONTENT
.content {
  position: relative;
  top: 60px;
}

// HOME
.home {
  .title-wrapper {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tv-icon {
      position: absolute;
      font-size: 340px;
      top: -10px;
      // svg {
      stroke-width: 0px;
      // fill: transparentize($text-crimson, 0.35);
      // }
    }
    .title-bottom {
      position: relative;
      top: -40px;
    }

    .title {
      position: relative;
      // top: 30px;
      font-family: "Pattaya", sans-serif;
      font-size: 50px;
    }
    .title-1 {
      font-size: 80px;
    }

    .title-3 {
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      color: $text-crimson;
      font-size: 36px;
    }
  }
  .description {
    margin: 20px auto;
    width: 72%;
    text-align: center;
    font-size: 18px;
  }
}
